@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import "tailwindcss";


/* Enable dark mode */
@custom-variant dark (&:is(.dark *));

/* Theme tokens */
@theme inline {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-dark-color:#001219;
  --color-light-color: #FFFCF2;
  --color-primary-color: #A7C957;
}

/* Font variables */
:root {
 
  --font-heading: 'Geist', sans-serif;
  --font-body: 'Lato', sans-serif;
  --font-style: 'Oswald', sans-serif;

  --main-text-color: var(--color-dark-color);
  --background-color: var(--color-light-color);
  --color-purple: #231942;
}

.dark {
  --main-text-color: var(--color-light-color);
  --background-color: var(--color-dark-color);
  --color-purple: #e0b1cb;


}

/* Base styles */
@layer base {
  body {
    background-color: var(--background-color);
    color: var(--main-text-color);
    font-family: var(--font-body);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    /* font-family: var(--font-style); */

    /* font-weight:900; */
  }
}

/* Utilities */
@layer utilities {

  .text-stroke {
    -webkit-text-stroke: 2px var(--color-primary-color);
    font-family: var(--font-style);
    color: transparent;
  }
 
  
  .h1_heading_md{
    @apply md:text-7xl md:text-center md:leading-18   sm:text-7xl sm:text-center sm:leading-16  text-4xl text-center leading-10  ;
  
  }

  .hero_content_container{
    @apply p-4 relative flex flex-col justify-center items-center   gap-8  sm:p-8 md:p-16;
  }

  .hero_headSub {
    @apply max-w-4xl flex flex-col items-center gap-4 ;
  }

  .subHeading {
    @apply text-4xl text-center font-bold mb-10 ;
    font-family: var(--font-body);
  }

  .text-theme-purple {
    color: var(--color-purple);
  }
  .bg-theme-purple {
    background-color: var(--color-purple);
  }
  .my_container {
    @apply w-full h-screen flex items-center justify-center;
    background-color: var(--background-color);
  }
}
