@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

/* Enable dark mode */
@custom-variant dark (&:is(.dark *));

/* Theme tokens */
@theme inline {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-dark-color:#001219;
  --color-light-color: #FFFCF2;
  --color-primary-color: #7EF187;
}

/* Font variables */
:root {
  --font-body: 'Space Grotesk', sans-serif;
  --font-heading: 'Montserrat', sans-serif;


  --main-text-color: var(--color-dark-color);
  --background-color: var(--color-light-color);
}

.dark {
  --main-text-color: var(--color-light-color);
  --background-color: var(--color-dark-color);

}

/* Base styles */
@layer base {
  body {
    background-color: var(--background-color);
    color: var(--main-text-color);
    font-family: var(--font-body);
  }
  h1, h2 {
    font-family: var(--font-heading);
  }
}

/* ============================= */
/* Reusable Utilities            */
/* ============================= */
@layer utilities {
   .section-class{
     @apply  bg-black w-full relative py-20 px-4 sm:py-28 sm:px-8 md:px-12 lg:px-16  
   }
   .hero-heading{
    @apply text-5xl font-bold  sm:text-6xl md:text-7xl
   }
   .hero-subheading{
    @apply text-lg  md:text-xl
   }
   .hero-content{
    @apply md:w-[60%] flex gap-4 flex-col items-start 
   }
   .body-heading{
      @apply font-bold text-3xl  sm:text-5xl
   }
   .body-subheading{
       @apply  text-lg sm:text-xl
   }
   .section-header{
    @apply flex flex-col gap-2 md:mb-12 sm:w-[64%] lg:w-[40%]
   }

   .section-container{
    @apply  relative flex flex-col gap-20 sm:items-start md:w-[100%]  sm:gap-8 
   }


 
}

@layer components{
  .basic-card-class{
    @apply bg-black p-4 h-[250px]  border border-orange-400
   }
}